# Load Dataset

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import pandas as pd
import numpy as np
import os
import json

In [6]:
os.chdir("../../Dataset")

In [7]:
dataset = pd.read_csv("FeatureExtracted/dataset.csv")
# ratings = pd.read_csv("ratings_small.csv")
ratings_train = pd.read_csv("CleanedData/ratings_train.csv")
ratings_test = pd.read_csv("CleanedData/ratings_test.csv")

# Learn one user's model

In the **ratings_small.csv** There are 671 users

In [8]:
len(ratings_train['userId'].unique())

671

Lets learn model for user 22

In [9]:
user = 22

Movies and Rating user 22 rate for

In [10]:
ratings_test[ratings_test['userId']== user]
ratings_train[ratings_train['userId']== user]

      userId  movieId  rating
1126      22       70     3.0
1127      22      153     3.0
1128      22      158     1.0
1129      22      163     4.5
1130      22      173     1.5
...      ...      ...     ...
1183      22     6373     2.0
1184      22     7454     3.0
1185      22     8961     3.5
1186      22    30793     4.0
1187      22    31696     4.0

[62 rows x 3 columns]

Movies that user rates for

In [11]:
movies_test = ratings_test[ratings_test['userId']== user]['movieId'].values
movies_train = ratings_train[ratings_train['userId']== user]['movieId'].values
print(movies_train)

[   70   153   158   163   173   253   267   296   315   442   457   480
   551   552   586   592   784   858  1089  1255  1371  1375  1376  1377
  1387  1544  1608  1884  1997  2006  2011  2115  2232  2288  2291  2459
  2502  2605  2616  2617  2657  2701  2762  2959  2990  3052  3081  3082
  3527  3578  4105  4226  4643  4701  4896  4993  5816  6373  7454  8961
 30793 31696]

Movie Profiles (Movie that user 22 rates for only)

In [12]:
dataset[dataset['id'].isin(movies_train)]

,budget,id,runtime,revenue,vote_average,vote_count,CastsRank,NumLeadActors,HasTop50Actors,NumCrews,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
71,45000,315,83.0,0.0,6.5,59.0,777,0,0,9,...,0,0,0,0,0,0,0,0,0,0
102,21000000,858,105.0,227799884.0,6.5,630.0,4462,1,0,27,...,0,0,0,0,1,0,0,0,0,0
178,5000000,173,127.0,28200000.0,6.9,160.0,2288,0,0,11,...,0,0,0,0,0,1,0,0,0,0
304,0,784,105.0,5770254.0,7.5,46.0,627,0,0,26,...,0,0,1,0,0,0,0,0,0,0
351,15000000,586,97.0,64256513.0,6.7,273.0,4284,1,1,29,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2612,0,2232,105.0,0.0,6.8,5.0,1119,0,0,13,...,0,0,0,0,1,0,0,0,0,0
2614,0,457,102.0,0.0,7.3,109.0,1252,0,0,11,...,0,0,0,0,1,0,0,0,0,0
2635,0,3578,72.0,0.0,6.5,2.0,1690,0,0,11,...,0,0,0,0,0,1,0,0,0,0
2764,0,1608,95.0,0.0,5.3,13.0,3899,1,0,9,...,0,0,0,0,0,0,0,0,0,0
2778,0,2459,105.0,0.0,6.8,20.0,1130,0,0,3,...,0,0,0,0,0,0,0,0,0,0

## Movies Profile that user rate for

In [13]:
profile_test = dataset[dataset['id'].isin(movies_test)]
profile_train = dataset[dataset['id'].isin(movies_train)]

Set the index in the **left** to the 'id' column

In [14]:
profile_test = profile_test.set_index([list(profile_test['id'])])
profile_test.drop('id', axis = 1, inplace=True)
profile_test = profile_test.sort_index(axis=0)
profile_test

,budget,runtime,revenue,vote_average,vote_count,CastsRank,NumLeadActors,HasTop50Actors,NumCrews,crewsTeamRank,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
231,50000000,128.0,94000000.0,6.3,455.0,6329,0,0,48,23343,...,0,0,0,0,0,0,0,1,0,0
235,8000000,89.0,52287414.0,7.8,1568.0,2504,0,0,14,9278,...,0,0,0,0,0,0,0,0,0,0
260,0,86.0,0.0,7.4,217.0,1805,0,0,11,1155,...,0,0,0,1,0,0,0,1,0,0
541,0,119.0,0.0,6.9,51.0,616,0,0,18,2661,...,0,0,0,0,1,0,0,0,0,0
588,50000000,125.0,97607453.0,6.3,1093.0,2397,1,0,38,6021,...,0,1,0,1,0,0,0,0,0,0
593,0,167.0,0.0,7.7,364.0,673,0,0,21,1247,...,0,0,0,1,0,1,0,0,0,0
648,0,96.0,0.0,7.8,133.0,576,0,0,16,1168,...,0,0,0,0,1,0,0,0,0,0
1372,100000000,143.0,170877916.0,7.4,2344.0,3505,2,0,87,33873,...,0,0,0,0,0,0,0,1,0,0
1374,31000000,91.0,300473716.0,6.6,984.0,4920,0,0,18,11099,...,0,0,0,0,0,0,0,0,0,0
1391,5000000,106.0,33616692.0,7.3,321.0,1923,0,0,15,4747,...,0,0,0,0,1,0,0,0,0,0
1580,1500000,80.0,2200000.0,7.8,539.0,1133,0,0,30,3192,...,0,0,0,1,0,0,0,1,0,0
1641,75000000,105.0,93888180.0,5.1,141.0,5522,0,0,27,14393,...,0,0,0,0,1,0,0,0,0,0
1645,40000000,149.0,152266007.0,7.0,522.0,7188,1,0,13,9100,...,0,0,0,0,0,0,0,1,0,0
1682,0,89.0,0.0,6.4,38.0,2544,0,0,10,625,...,0,0,0,0,0,1,0,0,0,0
1721,0,106.0,0.0,6.5,71.0,799,0,0,12,712,...,0,0,0,0,0,0,0,0,0,0
1722,57000000,131.0,62112895.0,5.6,146.0,3343,0,0,12,7132,...,1,0,0,0,1,0,0,0,0,0
1909,25000000,97.0,22200000.0,6.3,184.0,2471,1,0,12,3669,...,0,0,0,0,1,0,0,0,0,0
1917,0,126.0,0.0,6.0,10.0,845,0,0,8,407,...,0,0,0,0,0,0,0,1,0,0
1923,10000000,134.0,4160851.0,7.3,429.0,7858,0,0,127,15665,...,0,0,0,1,0,0,0,0,0,0
2023,100000000,136.0,108103450.0,6.5,321.0,3068,1,1,123,32807,...,0,0,0,0,0,0,0,0,0,1
3033,10000000,105.0,6451628.0,6.8,82.0,2750,2,0,13,2648,...,0,0,0,0,0,0,0,0,0,0
3176,4500000,114.0,25000000.0,7.3,992.0,9480,0,0,13,1526,...,0,0,0,0,0,0,0,1,0,0
4011,15000000,92.0,73326666.0,7.1,1475.0,4017,0,0,30,17742,...,0,0,0,0,0,0,0,0,0,0
4886,0,97.0,0.0,6.7,58.0,649,0,0,6,360,...,0,0,0,1,0,0,0,0,0,0
4975,0,90.0,0.0,6.7,19.0,2163,0,0,8,418,...,0,0,0,0,0,0,1,0,0,0
6934,0,96.0,0.0,8.3,6.0,427,0,0,18,755,...,0,0,0,0,0,0,0,0,0,0
8368,0,111.0,0.0,4.2,3.0,1165,0,0,15,1711,...,0,0,0,0,0,0,0,0,0,0
31184,0,103.0,0.0,3.5,2.0,486,0,0,2,185,...,0,0,0,0,0,0,0,0,0,0

In [15]:
profile_train = profile_train.set_index([list(profile_train['id'])])
profile_train.drop('id', axis = 1, inplace=True)
profile_train = profile_train.sort_index(axis=0)
profile_train

,budget,runtime,revenue,vote_average,vote_count,CastsRank,NumLeadActors,HasTop50Actors,NumCrews,crewsTeamRank,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
70,30000000,132.0,216763646.0,7.7,2519.0,6378,0,0,81,33671,...,0,0,0,0,0,0,0,0,0,0
153,4000000,102.0,119723856.0,7.3,1943.0,3231,0,0,47,16991,...,0,0,0,0,0,0,0,0,0,0
158,0,87.0,0.0,7.6,135.0,2450,0,0,13,1314,...,0,0,0,0,0,0,0,0,0,0
163,110000000,125.0,362744280.0,6.4,2169.0,10065,2,1,109,48073,...,0,0,0,0,0,0,0,1,0,0
173,5000000,127.0,28200000.0,6.9,160.0,2288,0,0,11,1195,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6373,0,88.0,0.0,5.0,11.0,1587,0,0,10,3360,...,0,0,0,0,1,0,0,0,0,0
7454,0,95.0,0.0,5.8,10.0,1949,1,1,31,3242,...,1,1,0,0,0,0,0,0,0,0
8961,130000000,147.0,273339556.0,6.3,1588.0,3944,0,0,163,50556,...,0,0,0,0,0,0,0,1,0,0
30793,0,67.0,0.0,5.8,20.0,1677,0,0,16,1484,...,0,1,0,0,0,1,0,0,0,0
31696,0,95.0,15429177.0,5.6,17.0,1120,0,0,10,3592,...,0,0,0,1,0,0,0,1,0,0

In [16]:
X_Train = profile_train
X_Test = profile_test

## Ratings user rate for

In [17]:
rate_train = ratings_train[ratings_train['userId']== user]
rate_test = ratings_test[ratings_test['userId']== user]

In [18]:
rate_train['rating']

1126    3.0
1127    3.0
1128    1.0
1129    4.5
1130    1.5
       ...
1183    2.0
1184    3.0
1185    3.5
1186    4.0
1187    4.0
Name: rating, Length: 62, dtype: float64

In [19]:
Y_Train = np.array(rate_train['rating'].values, dtype='<U3')
Y_Test = np.array(rate_test['rating'].values, dtype='<U3')

## Grid Search for Finding Params

In [20]:
cols = ['budget', 'runtime', 'revenue', 'vote_average', 'vote_count']

In [21]:
X_Train = X_Train[cols]
X_Test = X_Test[cols]

In [22]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.model_selection import GridSearchCV

In [23]:
parameters = {'alpha':[0.01, 0.05, 0.1 , 0.5 , 1, 10 , 100, 1000, 10000, 10e7]}

In [24]:
scorer = make_scorer(mean_squared_error, greater_is_better = False)

Use GridSearchCV to find the best parameter **alpha** of Ridge Regression

In [25]:
model = MLPClassifier(hidden_layer_sizes=(100, 50, 25, 10))
clf = GridSearchCV(model, param_grid=parameters, scoring=scorer)
clf.fit(X_Train.append(X_Test), np.append(Y_Train, Y_Test))

GridSearchCV(estimator=MLPClassifier(hidden_layer_sizes=(100, 50, 25, 10)),
             param_grid={'alpha': [0.01, 0.05, 0.1, 0.5, 1, 10, 100, 1000,
                                   10000, 100000000.0]},
             scoring=make_scorer(mean_squared_error, greater_is_better=False))

In [26]:
clf.best_params_

{'alpha': 0.01}

## Train and Test on one user

In [27]:
model = MLPClassifier(hidden_layer_sizes=(100, 50, 25, 10), alpha = 100, random_state=1)
model.fit(X_Train, Y_Train)

MLPClassifier(alpha=100, hidden_layer_sizes=(100, 50, 25, 10), random_state=1)

In [28]:
model.predict(X_Test)

array(['3.0', '3.0', '2.0', '3.5', '3.0', '2.0', '3.0', '3.0', '3.0',
       '3.0', '3.0', '3.0', '3.0', '3.5', '3.5', '3.0', '3.0', '2.0',
       '3.0', '3.0', '3.0', '3.0', '3.0', '3.5', '2.0', '2.0', '2.0',
       '2.0'], dtype='<U3')

In [29]:
Y_Test

array(['2.5', '2.0', '4.0', '4.5', '2.0', '4.5', '5.0', '4.0', '3.5',
       '3.5', '4.0', '2.0', '2.5', '2.5', '3.0', '3.5', '3.0', '2.5',
       '2.5', '3.5', '4.0', '2.5', '4.5', '4.0', '4.5', '2.0', '3.5',
       '4.5'], dtype='<U3')

In [30]:
print("Train MSE: ", mean_squared_error(Y_Train, model.predict(X_Train)))
print("Test MSE: ", mean_squared_error(Y_Test, model.predict(X_Test)))

Train MSE:  1.6935483870967742
Test MSE:  1.5

# Learning group of all users

In [ ]:
# def getXandY(ratings, user = 1):
#     movies = ratings[ratings['userId'] == user]['movieId'].values
#     profile = dataset[dataset['id'].isin(movies)]
#     profile = profile.set_index([list(profile['id'])])
#     profile.drop('id', axis = 1, inplace=True)
#     profile = profile.sort_index(axis=0)[cols]
#     rate = ratings[ratings['userId']== user]
#     X = profile
#     Y = np.array(rate['rating'].values, dtype="<U3")
#     return X, Y

In [ ]:
# users = ratings_train['userId'].unique()

In [ ]:
# modelStorage = dict()

In [ ]:
# alpha = 0.5
# total_train_loss= 0.0
# total_test_loss = 0.0
# count_train = 0
# count_test = 0
# for user in users:
#     X_train, Y_train = getXandY(ratings_train, user)

#     model = MLPClassifier(hidden_layer_sizes=(100, 50, 25, 10), alpha=alpha, random_state=1)
#     model.fit(X_train, Y_train)

#     X_test, Y_test = getXandY(ratings_test, user)

#     loss_train = mean_squared_error(Y_train, model.predict(X_train))
#     loss_test = mean_squared_error(Y_test, model.predict(X_test))
    
#     total_test_loss += loss_test
#     total_train_loss += loss_train

#     # modelStorage[int(user)] = [list(model.coef_), model.intercept_]

#     count_train += len(X_train)
#     count_test += len(X_test)

#     print("User %d. Train loss: %.2f. Test_loss: %.2f" % (user, loss_train, loss_test) )    
    
# print("Average train loss: %.2f. Average test loss: %.2f" % (total_train_loss/count_train, total_test_loss/count_test))

In [ ]:
# with open("ModelStorage/userModel.json", "w+") as file:
#     file.write(str(modelStorage))

## Grid Search on Group

Grid Search **alpha** when learning group of users

In [ ]:
# alphas = [1, 10, 100, 1000, 1e4, 1e8, 1e12, 1e16, 1e21]

# for alpha in alphas:
#     total_train_loss= 0.0
#     total_test_loss = 0.0
#     count_train = 0
#     count_test = 0
#     for user in users:
#         X_train, Y_train = getXandY(ratings_train, user)

#         model = MLPClassifier(hidden_layer_sizes=(100, 50, 25, 10), alpha=alpha, random_state=1)
        
#         model.fit(X_train, Y_train)

#         X_test, Y_test = getXandY(ratings_test, user)

#         loss_train = mean_squared_error(Y_train, model.predict(X_train))
#         loss_test = mean_squared_error(Y_test, model.predict(X_test))
        
#         total_test_loss += loss_test
#         total_train_loss += loss_train

#         modelStorage[int(user)] = [list(model.coef_), model.intercept_]

#         count_train += len(X_train)
#         count_test += len(X_test)  
#     print("Alpha: %d .Average train loss: %.2f. Average test loss: %.2f" % (alpha, total_train_loss/count_train, total_test_loss/count_test))